AggregatedAPI_TravelCompanion/.vs
AggregatedAPI_TravelCompanion/AggregatedAPI_TravelCompanion.csproj.user
AggregatedAPI_TravelCompanion/bin/
AggregatedAPI_TravelCompanion/obj/
AggregatedAPI_TravelCompanion/Controllers/TestLandmarkController.cs
AggregatedAPI_TravelCompanion/Controllers/TestLocationController.cs
AggregatedAPI_TravelCompanion/Controllers/TestWeatherController.cs

AggregatedAPI_TravelCompanion.Tests/bin/
AggregatedAPI_TravelCompanion.Tests/obj/